# don't check in nvim plugins
config/*
.DS_Store

# allow nvim
!config/nvim
config/nvim/*
!config/nvim/init.vim

# allow pgcli
!config/pgcli
config/pgcli/*
!config/pgcli/config

# allow kitty
!config/kitty
config/kitty/*
!config/kitty/kitty.conf

# allow tmux
!config/tmux
config/tmux/*
!config/tmux/tmux.conf

# disallow lein repl history
lein/repl-history

